@font-face {
    font-family: 'Libre Baskerville';
    src: url('../Fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/static/Roboto-Regular.ttf');
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a
{
    text-decoration: none;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    color: #0b2941;
    background-color: #fff;
    border-bottom: 1px solid rgb(11, 41, 65, 0.5);
}

.menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.menu_right
{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo
{
    width: 30px;
}

header a
{
    font-family: 'Libre Baskerville', Arial, sans-serif;
    color: #0b2941;
}

h1
{
    font-family: 'Libre Baskerville', Arial, sans-serif;
    font-size: 25px;
    margin-left: 20px;
}

.menu_title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.logo
{
    width: 47px;
}

.menu_items
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 20px;
    list-style: none;
}

.menu_items a
{
    padding: 5px 0;
    position: relative;
}

.menu_items a::after
{
    position: absolute;
    left: 0;
    bottom: 5px;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #0b2941;
    transition: all 0.1s ease-out;
}

.menu_items a:hover::after
{
    width: 100%;
}
